.gallery-image-container {
    /*text-align: center;*/
    box-sizing: border-box;
    overflow:hidden;
    height: 60px;
    min-width: 80px;
    line-height: 60px;
}

.gallery-image-wrapper {
    text-align: center;
    width: 80px;
    float: left;
    margin: 10px;
    padding: 8px;
    /*border: 1px solid #efefef;*/
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.2);

} 

.gallery-image-wrapper p {
    font-size: 12px;
    margin: 0;
    padding: 0;
}